### Списки. Цикл for

Список можно создать, заключив его элементы в квадратные скобки `[]` или с помощью встроенной функцией list.

In [13]:
numbers = [1, 7, 3, 19, 5, 34, 0, -1, 7, 3]  # упорядоченный изменяемый тип данных

In [5]:
a = [1, "123", True, "котик"]

'котик'

##### Индексация и изменение элемента (+ отличие от str)

#### Примеры действий со списками:

* сложение (конкатенация)

In [10]:
[1,2] + [5, 6]

[1, 2, 5, 6]

* умножение на число

In [11]:
[1, 2] * 3

[1, 2, 1, 2, 1, 2]

Наличие элемента в списке

In [12]:
a = [1, 2, 3, 4, 5]
3 in a

True

* обращение к элементу по индексу (нумерация с элементов списка начинается с  0 )
* обращение сразу к нескольким элементам (slice)

In [1]:
lst = [1, 3, 6, 19, 2]

# Срезы

In [14]:
print(numbers)
print(numbers[0])
print(numbers[1])
print(numbers[2])
print(numbers[1:4]) # срез: левая граница включается, правая - нет
print(numbers[1:9:3]) # стартовый индекс : финишный индекс : размер шага
print(numbers[:5])
print(numbers[1:])
print(numbers[::-1])

[1, 7, 3, 19, 5, 34, 0, -1, 7, 3]
1
7
3
[7, 3, 19]
[7, 5, -1]
[1, 7, 3, 19, 5]
[7, 3, 19, 5, 34, 0, -1, 7, 3]
[3, 7, -1, 0, 34, 5, 19, 3, 7, 1]

#### Копирование списка

In [17]:
numbers[0:5:2]

[1, 3, 5]

* `len(s)`	длина (количество элементов) `s`
* `sum(s)`	сумма чисел в `s`. Можно брать от	`list/tuple`
* `min(s)`	наименьший элемент `s`. Можно брать от	`list/tuple`
* `max(s)`	наибольший элемент `s`. Можно брать от	`list/tuple`

In [18]:
numbers

[1, 7, 3, 19, 5, 34, 0, -1, 7, 3]

In [22]:
sum(numbers)

78

In [27]:
numbers = [1, 7, 3, 19, 5, 34, 0, -1, 7, 3]

In [29]:
numbers

[1, 7, 3, 19, 5, 34, 0, -1, 7, 3, 1000000]

### Цикл for (+ range)

**Цикл for** используется тогда, когда нужно повторить что-то определенное количество раз.

In [35]:
x = list(range(5))
x

[0, 1, 2, 3, 4]

In [36]:
x = [x for x in range(5)]
x

[0, 1, 2, 3, 4]

In [37]:
x

[0, 1, 2, 3, 4]

In [38]:
v = [1, True, "dog"]

In [40]:
for pointer in v:
    print(pointer)

1
True
dog

#### Итерирование (c индесом и как итератор)

#### Магия: превращаем range -> list

**Задача 1**

Дан список lst = [1, 6, 2, 20, 3, 0, 4, 15, 17, 11, 16].
Необходимо вывести элементы, которые одновременно не больше 20, больше 0 и делятся на 2 без остатка.

In [44]:
lst = [1, 6, 2, 20, 3, 0, 4, 15, 17, 11, 16]
for i in lst:
    if i<=20 and i > 0 and i%2 ==0:
        print (i)

6
2
20
4
16

In [ ]:
len(lst)

In [46]:
lst = [1, 6, 2]
for i in range(len(lst)):
    print(f"{i=} {lst[i]=}")
    if lst[i]<=20 and lst[i] > 0 and lst[i]%2 ==0:
        print (lst[i])

i=0 lst[i]=1
i=1 lst[i]=6
6
i=2 lst[i]=2
2

**Задача 2**

Вводятся два целых числа A и B (гарантируется, что A ≤ B). Выведите все числа от A до B включительно, используя цикл for.

In [47]:
a = int(input())
b = int(input())
for n in range(a, b + 1):
    print(n)

 1
 5

1
2
3
4
5

**Задача 3**

Вводится целое число n. Затем пользователь n раз вводит числа последовательности (от -100000 до 100000) Посчитате и выведите сумму членов последовательности, а также минимальное и максимальное значение

In [2]:
n = int(input())
summa = 0
maxx = -100000
minn = 100000
for i in range (n):
    a = int(input())
    summa = a + summa
    if a > maxx:
        maxx = a
    if a < minn:
        minn = a
    
print(summa, maxx, minn)

 3
 4
 8
 -5

7 8 -5

**Задача 4**

 Пользователь вводит несколько целых чисел в одной строке через запятую и пробел. Выведите те числа, которые делятся на 7.

In [14]:
s = "1:2:3:5"
x = s.split(":")
x

['1', '2', '3', '5']

In [18]:
w = []

In [19]:
w.append(10)

In [20]:
w

[10]

In [21]:
w.append(-6)

In [22]:
w

[10, -6]

In [17]:
digits = []
for p in x:
    digits.append(int(p))
digits

[1, 2, 3, 5]

In [3]:
a= input()
b=a.split(', ')
for i in range (len(b)):
    if int(b[i])%7 ==0:
        print (b[i])

 1, 9, 7, 14, 5

7
14

**Задача 5**

 Пользователь вводит последовательность целых чисел, разделяя их пробелом. Затем в новой строке вводится число m. Выведите те числа последовательности, которые больше числа m.

In [ ]:
s = input().split() # 1 2 3 4 5 6
r = list(map(int, s))
r

In [ ]:
list(map(int, ['1', '2'])) => [int('1'), int('2')] => [1, 2]

In [ ]:
lst = list(map(int, input().split()))

## Методы строк
Вспомним основные методы строк:

* `.split()` - разделяет строку по разделителю. Возвращает список
* `.replace()` - заменить подстроку в строке на другую подстроку
* `.count()` - количество вхождений подстроки в строку
* `.find()` -  индекс первого вхождения подстроки, и -1, если подстрока отсутствует
* `.rfind()` -  индекс последнего вхождения подстроки, и -1, если подстрока отсутствует
* `.strip()` -  возвращает копию строки, в которой были удалены определенные символы с начала и конца строки (символом по умолчанию является пробел)
* `.startswith()` - проверяет, начинается ли строка с данной подстроки
* `.isdigit()`  проверяет, что строка состоит только из цифр
* `.islower()`  проверяет, что строка состоит только из букв нижнего регистра (строчных);
* `.isupper()`  проверяет, что строка состоит только из букв верхнего регистра
* `.isalpha()`  проверяет, что строка состоит только из букв
* `.lower()` приведение строки к нижнему регистру
* `.upper()` приведение строки к верхнему регистру
* `.isalnum()`  проверяет, что строка состоит только из букв и цифр

Подробности и больше методов в [документации](https://docs.python.org/3/library/stdtypes.html#str)

In [ ]:
'abc     def'.split()

['abc', 'def']

In [ ]:
'abc     def'.split('-')

['abc     def']

In [ ]:
'abc -def-'.split('-')

['abc ', 'def', '']

## Методы списков

* `.append()` добавляет элемент в конец списка
* `.insert()` добавляет элемент в произвольное место списка
* `.count()` количество вхождений определенного элемента
* `.remove()` удаляет элемент из списка
* `.reverse()` - вовращает список, в котором элементы идут наоборот по сравнению с исходным списком
* `.copy()` - возвращает копию списка

Подробности и больше методов в [документации](https://docs.python.org/3/tutorial/datastructures.html)

In [ ]:
lst = [1, 4, 2, 3]

In [ ]:
lst.append(7)

In [ ]:
lst

[1, 4, 2, 3, 7]

**Задача 1.**
  На вход программе подается строка чисел, разделенных пробелом. Считайте эти числа в список.

  Найдите:
1. длину списка
2. количество нулей
3. есть ли в списке число 4 (True или False)
4. сумму всех чисел списка
5. удвоенный список (конкатенация)
6. максимальный и минимальный элемент, через пробел  
Гарантируется, что на вход не будет подаваться пустая строка.  
Если максимальный и минимальный элемент совпадают, то выведете только один из них.

In [ ]:
# здесь мы можем решить эту задачу

**Задача 2.**
На вход подается строка, где все буквы в нижнем регистре. Нужно вывести эту же строку,  заменив каждую вторую букву, начиная с первой на заглавную. Например, 'abcde' -> 'AbCdE'

for char

**Задача 3.**
Вам нужно написать программу, которая проверяет корректность созданных паролей. Пароль - это строка из разных символов, которая подается на вход вашей программе. Гарантируется, что строка не нулевая и состоит только из букв и цифр. Реализуйте проверку следующих требований к паролям:
1. В пароле есть хотя бы одна цифра, хотя бы одна заглавная и хотя бы одна строчная буква
2. Пароль НЕ начинается с фраз: `qwerty`, `12345`, `password`
3. Пароль не содержит в себе логин пользователя

Программа принимает на вход логин и пароль пользователя, и выводит "YES", если пароль корректен (пароль считается корректным, если удовлетворяет всем трём условиям выше), и "NO" в противном случае.

In [ ]:
# здесь мы можем решить эту задачу

**Задача 4** (из банка заданий НЭ)

Реализуйте программу, которая сохраняет в список все строки, состоящие только из символов в нижнем регистре.

В цикле while считываются строки до тех пор, пока не введена строка 'END'.
Для каждой вводимой строки сделайте проверку: если в строке содержатся только символы в нижнем регистре, то добавьте ее в список.
Гарантируется, что до строки 'END' будет введена как минимум одна строка.
Напечатайте получившийся список. Строки должны быть добавлены в список в том же порядке, что и при вводе.

**ПРИМЕР ВВОДА**

питон  
матеМатика  
История  
ЭКОНОМИКА  
география!  
END  

**ПРИМЕР ВЫВОДА**

['питон', 'география!']

In [ ]:
# здесь мы можем решить эту задачу

**Задача 5** (из банка заданий НЭ)


Реализуйте программу, которая сохраняет в список длинные адреса электронных почт.

Задан пустой список emails.
* В цикле while считываются строки до тех пор, пока не введена строка 'END'.
* Для каждой вводимой строки сделайте проверку: если в строке содержится символ "@" и она длиннее 18 символов, то добавьте ее в список emails.
* Гарантируется, что до строки 'END' будет введена как минимум одна строка.
* Напечатайте список emails. Строки в нем должны идти в том же порядке, что и при вводе.

**ФОРМАТ ВВОДА**

 mymailru@mail.com    
 superpuperstudent@hse.com  
 ma777ivanova@rambler.ru  
END    

**ФОРМАТ ВЫВОДА**

['superpuperstudent@hse.com', 'ma777ivanova@rambler.ru']

In [ ]:
# здесь мы можем решить эту задачу

**Задача 6.** Ассистент собирает оценки студентов и хочет узнать, какая получилась средняя оценка за курс.

ФОРМАТ ВВОДА

Программа получает на вход число студентов в группе N.
Далее идет N строк, в каждой строке записан результат в виде "оценка 5"


ФОРМАТ ВЫВОДА

Вещественное число — средняя оценка всех участников.

In [ ]:
# здесь мы можем решить эту задачу